$mainColor: var(--yume-black2);
$textColor: var(--yume-white);
$mainFont: Montserrat;

$secondaryColor: rgba(36, 36, 36, 0.5);
$secondaryColorHighlight: rgba(23, 23, 23, 1.0);
$secondaryColorLight: rgba(0, 0, 0, 0.5); /* dont know what this does */
$secondaryColorDark: rgba(12, 12, 12, 0.8); /* dont know what this does */

:root {
  --yume-white: #F2F2F2;
  --yume-grey: #C1C1C1;
  --yume-grey2: #6C6C6C;
  --yume-black: #171717;
  --yume-black2: rgba(23, 23, 23, 0.9);
  --yume-orange: #FB8607;
  --yume-pink: #FE247B;
  --yume-blue: #2B78FC;
  --yume-green: #06CE6B;
  --yume-red: #FE2436;
}

$gridCols: 5;
$gridRows: 5;
$gridSize: 12vh;
$gridGap: 5px;
$containerSize: calc(#{$gridRows} * #{$gridSize + 0.22vh} + #{$gridRows} * #{$gridGap});

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Montserrat', 'Courier New', monospace;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  color: var(--yume-white);
  position: relative;
}


.context-menu-list {
  min-width: 200px;
  background-color: $mainColor;
  color: $textColor;
  padding: 4px;
  /* border-color: var(--yume-grey);
  border-style: inset;
  border-width: 1px; */
  border-radius: 4px;
  outline: none;
  display: flex;
  flex-direction: column;
}

.context-menu-item  {
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  border: none;
  color: $textColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:active {
    transform: none;
  }
  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.tooltip-description {
  padding-top: 5px;
}

.tooltip-markdown > p {
  margin: 0;
}

button:active {
  transform: translateY(3px);
}

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.inventory-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.inventory-row {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.inventory-control {
  margin-top: 10px;
  display: flex;

  .inventory-control-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: end;
    align-items: center;
    width: 100%;
    z-index: 0;
  }

  .inventory-control-input {
    font-size: 14px;
    color: var(--yume-white);
    background-color: $mainColor;
    transition: 200ms;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-family: $mainFont;
    width: 8%;
    text-align: center;
    outline: none;
    &:focus-within {
      background-color: $secondaryColorDark;
    }
  }

  .inventory-control-button {
    font-size: 14px;
    color: var(--yume-white);
    background-color: $mainColor;
    transition: 200ms;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-family: $mainFont;
    font-weight: 500;
    &:hover {
      background-color: $secondaryColorDark;
    }
  }
}

.citizen-info {
  margin-top: 10px;
  display: flex;

  .citizen-info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: start;
    align-items: center;
    width: 100%;
    z-index: 0;
  }

  .citizen-info-button {
    color: var(--yume-white);
    background-color: $mainColor;
    transition: 200ms;
    padding: 10px;
    border-radius: 4px;
    border: none;
    display: flex;
    font-family: $mainFont;
    font-weight: 500;
    fill: var(--yume-white);
    position: relative;
    cursor: pointer;
    
    &:hover {
      background-color: $secondaryColorDark;
    }
  
    &[data-label]::after {
      content: attr(data-label);
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $secondaryColorDark;
      color: var(--yume-white);
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 12px;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: opacity 200ms, visibility 200ms;
    }
  
    &[data-label]:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.citizen-info-button-icon {
  width: 15px;
  height: 15px;
  fill: var(--yume-white)
}

.citizen-info-button-label {
  padding-left: 6px;
}

.useful-controls-dialog {
  background-color: $mainColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $textColor;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  gap: 16px;
}

.useful-controls-dialog-overlay {
  background-color: rgba(23, 23, 23, 0.6);
}

.yume-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 40%;
  background: linear-gradient(45deg, #0099FF, #FE247B); 
  pointer-events: none;
  position: 'relative';
  z-index: 0;
}

.useful-controls-dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  width: 100%;
  font-size: 18px;
}

.gradient-line {
  height: 3px;
  width: 32%;
  margin-top: -10px;
  background: linear-gradient(to right, var(--yume-blue), var(--yume-pink));
  display: block;
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  background-color: var(--yume-black);
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: $textColor;
  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--yume-white);
}

.useful-controls-button {
  position: absolute !important;
  bottom: 25px;
  right: 25px;
  transition: 200ms !important;
  border: none;
  color: white;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  border-radius: 5% !important;
  background-color: $secondaryColor !important;
  &:hover {
    background-color: $secondaryColorDark !important;
    cursor: pointer;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used for useful controls window

// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($gridGap * 2);
  position: relative;
  z-index: 0;
}
.inventory-grid-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 6px;
  min-height: 30px;
}

.inventory-grid-header-label {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}

.inventory-grid-header-weight {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  align-self: flex-end;
}

.inventory-grid-container {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
}

// inventory slots
.inventory-slot {
  background-color: $secondaryColor;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 7vh;
  color: $textColor;
  &:hover {
    position: relative;
    background-color: rgba(36, 36, 36, 0.6);
  }
}

.inventory-slot-label-box {
  background-color: $mainColor;
  color: $textColor;
  text-align: left;
  border-bottom-left-radius: 0.25vh;
  border-bottom-right-radius: 0.25vh;
  border-top-width: 1px;
}

.inventory-slot-label-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 3px;
  font-weight: 400;
  font-family: $mainFont;
  font-size: 10px;
}

.inventory-slot-number {
  background-color: white;
  color: black;
  height: 12px;
  border-top-left-radius: 0.25vh;
  border-bottom-right-radius: 0.25vh;
  padding: 3px;
  font-size: 12px;
  font-family: $mainFont;
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  p {
    font-size: 12px;
  }
}

.item-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  justify-content: space-between !important;
}

.item-slot-info-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  gap: 3px;
  width: 100%;
}

.item-slot-info-left {
  font-size: 10px;
  margin-right: auto;
}

.item-slot-info-right {
  font-size: 10px;
  margin-left: auto; 
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.tooltip-wrapper {
  pointer-events: none;
  display: flex;
  background-color: $mainColor;
  width: 200px;
  padding: 8px;
  flex-direction: column;
  min-width: 200px;
  color: $textColor;
  font-family: $mainFont;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: inset;
  border-width: 1px;
  p {
    font-size: 12px;
    font-weight: 400;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  p {
    font-size: 15px;
    font-weight: 600;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 3px;
  }
  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

// hotbar
.hotbar-container {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2vh;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
}

.hotbar-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  background-color: $secondaryColor;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 0.25vh;
  border-top-right-radius: 0.25vh;
  font-family: $mainFont;
  p {
    font-size: 11px;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
}

.durability-bar {
  background: rgba(23,23,23,0.95);
  height: 3px;
  overflow: hidden;
}

.weight-bar {
  background: var(--yume-black2);
  height: 0.8vh;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px)
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}
